
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center bg-whitetext-success">Team </h1>
        </div>
    </div>

    <div class="row">
        
        <div class="col-md-3">
            <img src="~/images/crop.jpg" class="img-fluid" width="150" height="150" />
        </div>
        <div class="col-md-3">
            <img src="~/images/OIP.jpg" class="img-fluid" width="150" height="150" />
        </div>
        <div class="col-md-3">
            <img src="~/images/wp8171678.jpg" class="img-fluid" width="150" height="150" />
        </div>

    </div> 

</div>
